<div class="container mt-4">
  <h2 class="mb-4 text-primary">Listado de Películas</h2>
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>Título</th>
        <th>Director</th>
        <th>Año</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movies">
        <td>{{ movie.titulo }}</td>
        <td>{{ movie.director }}</td>
        <td>{{ movie.anio }}</td>
        <td>
          <button (click)="verDetalle(movie)" class="btn btn-primary btn-sm">
            Ver detalles
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
